body {
    margin: 0;
    background-color: rgb(181, 251, 228);
    text-align: center;

}
.header {
    position: fixed;
}
h1 {
    margin: 0 auto 0 auto;
    display: inline-block;
    line-height: 2;
    font-family: Sacramento, cursive;
    font-size: 6.25rem;
    color: #66BFBF;
}
h2{
    font-family: sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    
    font-weight: normal;
}
h3{
    color: #11999E;
}
p{
    color: #11999E
}
    

.p1 {
    position: absolute;
    width: 100px;
    height: 100px;

}
.profile-pic {
    margin: 0 auto 0 auto;
    position: relative;
    width: 250px;
    height: 300px;
    float: left;
    padding: 0px 30px 0px 0px;
    
}

.bottom-cloud {
    position: absolute;
    right: 300px;

}

.top-cloud {
    position: absolute;
    top: 70px;
    left: 300px;
    display: block;
}
.logo{
    width: 50px;height: 50px;
}
.button{
    width: 20px;height: 20px;
}

.top-container {
    padding-top: 100px;
}

.middle-container {
    font-family: sans-serif;
}
.lower-container{
    font-family: sans-serif;
}


.profile{
    position: relative;
    width: 50%;
   margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}
.skill-pic{
    width: 80px;height: 80px;
}
.hello{
    margin-bottom: 0px;
}
